body {
  background: #0F1115;
  color: #E0E0E0;
  margin: 0;
}

/* Centrat vertical i horitzontal */
.login-fullscreen {
  min-height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0F1115;
}


.login-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #16181c;
  color: #E0E0E0;
  padding: 32px 21px 22px 32px;
  border-radius: 18px;
  box-shadow: 0 6px 24px #E5393530;
  min-width: 350px;
}

h2 {
  margin-bottom: 10px;
  color: #FBC02D;
  text-align: center;
  font-size: 1.35em;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

input, mat-label, .menu-text {
  color: #E0E0E0 !important;
}

button[mat-raised-button] {
  background: #E53935 !important;
  color: #E0E0E0 !important;
  font-weight: bold;
  width: 100%;
  margin-top: 13px;
  border-radius: 18px;
  font-size: 1.13em;
  transition: background 0.2s;
}

button[mat-raised-button]:hover {
  background: #FBC02D !important;
  color: #0F1115 !important;
}

.error-msg {
  color: #E53935;
  font-weight: bold;
  margin-top: 15px;
  font-size: 1.07em;
}