<mat-sidenav-container class="sidenav-container">

  <!-- Menú lateral -->
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary" class="sidenav-toolbar">
      <img src="https://i.imgur.com/7dRimV7.png" alt="JanusHub" class="janus" />
    </mat-toolbar>

    <mat-nav-list>
      <!-- Bienvenida siempre visible -->
      <a mat-list-item (click)="tryNavigate('home')">
        <mat-icon>home</mat-icon>
        <span class="menu-text"><strong>Bienvenida</strong></span>
      </a>

      <!-- Proyectos -->
      <a mat-list-item (click)="tryNavigate('projects')">
        <mat-icon>folder_open</mat-icon>
        <span class="menu-text"><strong>Proyectos</strong></span>
      </a>

      <!-- Procedimientos -->
      <a mat-list-item (click)="tryNavigate('procedimientos')">
        <mat-icon>assignment</mat-icon>
        <span class="menu-text"><strong>Procedimientos</strong></span>
      </a>

      <!-- Documentos -->
      <a mat-list-item (click)="tryNavigate('documents')">
        <mat-icon>upload_file</mat-icon>
        <span class="menu-text"><strong>Documentos</strong></span>
      </a>

      <!-- Formación -->
      <a mat-list-item (click)="tryNavigate('formacion')">
        <mat-icon>school</mat-icon>
        <span class="menu-text"><strong>Formación</strong></span>
      </a>

      <!-- Planificación -->
      <a mat-list-item (click)="tryNavigate('planificacion')">
        <mat-icon>event_note</mat-icon>
        <span class="menu-text"><strong>Planificación</strong></span>
      </a>

      <!-- Administración -->
      <a mat-list-item (click)="tryNavigate('administracion')">
        <mat-icon>admin_panel_settings</mat-icon>
        <span class="menu-text"><strong>Administración</strong></span>
      </a>

      <!-- Bitácora -->
      <a mat-list-item (click)="tryNavigate('bitacora')">
        <mat-icon>bug_report</mat-icon>
        <span class="menu-text"><strong>Bitácora</strong></span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>

    <!-- Toolbar superior -->
    <mat-toolbar color="primary" class="main-toolbar">
      <span class="app-title">JanusHub Portal</span>
      <span class="spacer"></span>
      <div class="login-user" (click)="openLoginDialog()">
        <mat-icon>person</mat-icon>
        <span *ngIf="username"> {{ username }} </span>
      </div>
    </mat-toolbar>

    <!-- Contenido dinámico según ruta -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <!-- Banner logos (opcional) -->
    <div class="banner-imatges">
      <img src="https://i.imgur.com/bknE50v.png" class="imatge-menu" />
      <img src="https://i.imgur.com/Zadx1Z5.png" class="imatge-menu" />
      <img src="https://i.imgur.com/YTUL8j6.png" class="imatge-menu" />
      <img src="https://i.imgur.com/YDyH4j0.png" class="imatge-menu" />
      <img src="https://i.imgur.com/rL2dIOn.png" class="imatge-menu" />
      <img src="https://i.imgur.com/LMRdKym.png" class="imatge-menu" />
      <img src="https://i.imgur.com/aLBxDxO.png" class="imatge-menu" />
      <img src="https://i.imgur.com/0vFxwra.png" class="imatge-menu" />
      <img src="https://i.imgur.com/ZOQXBuY.png" class="imatge-menu" />
      <img src="https://i.imgur.com/swGo7Aa.png" class="imatge-menu" />
      <img src="https://i.imgur.com/dhXgpv5.png" class="imatge-menu" />
    </div>

    <!-- Footer -->
    <footer class="footer">
      <span>Copyright | <strong>{{ appVersion }}</strong></span>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>
