<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary" class="sidenav-toolbar">
      <img src="https://i.imgur.com/7dRimV7.png" alt="JanusHub" class="janus" />
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item (click)="navegar('home')">
        <mat-icon>home</mat-icon>
        <span class="menu-text">Bienvenida</span>
      </a>

      <a mat-list-item *ngFor="let item of ['proyectos','procedimientos','documentos','formacion','planificacion','administracion','bitacora']"
         [class.disabled]="!canShow(item)"
         (click)="navegar(item)">
        <mat-icon>
          {{
            item === 'proyectos' ? 'folder_open' :
            item === 'procedimientos' ? 'assignment' :
            item === 'documentos' ? 'upload_file' :
            item === 'formacion' ? 'school' :
            item === 'planificacion' ? 'event_note' :
            item === 'administracion' ? 'admin_panel_settings' :
            item === 'bitacora' ? 'bug_report' : 'help'
          }}
        </mat-icon>
        <span class="menu-text">{{ item | titlecase }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="banner-imatges">
      <a href="#" target="_blank"><img src="https://i.imgur.com/bknE50v.png" class="imatge-menu" /></a>
      <a href="#" target="_blank"><img src="https://i.imgur.com/Zadx1Z5.png" class="imatge-menu" /></a>
      <a href="#" target="_blank"><img src="https://i.imgur.com/YTUL8j6.png" class="imatge-menu" /></a>
      <a href="#" target="_blank"><img src="https://i.imgur.com/YDyH4j0.png" class="imatge-menu" /></a>
      <a href="#" target="_blank"><img src="https://i.imgur.com/rL2dIOn.png" class="imatge-menu" /></a>
      <a href="#" target="_blank"><img src="https://i.imgur.com/LMRdKym.png" class="imatge-menu" /></a>
      <a href="#" target="_blank"><img src="https://i.imgur.com/aLBxDxO.png" class="imatge-menu" /></a>
      <a href="#" target="_blank"><img src="https://i.imgur.com/0vFxwra.png" class="imatge-menu" /></a>
      <a href="#" target="_blank"><img src="https://i.imgur.com/ZOQXBuY.png" class="imatge-menu" /></a>
      <a href="#" target="_blank"><img src="https://i.imgur.com/swGo7Aa.png" class="imatge-menu" /></a>
      <a href="#" target="_blank"><img src="https://i.imgur.com/dhXgpv5.png" class="imatge-menu" /></a>
      <img src="https://imgur.com/69aimFa.png" class="imatge-menu" />
    </div>

    <mat-toolbar color="primary" class="main-toolbar">
      <span class="app-title">JanusHub Portal</span>
      <span class="spacer"></span>
      <div class="login-user" (click)="openLoginDialog()">
        <mat-icon>person</mat-icon>
      </div>
    </mat-toolbar>

    <div class="main-content menu-content-scroll">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
  <span>
    Copyright |
    <strong *ngIf="appVersion; else cargando">{{ appVersion }}</strong>
  </span>
  <ng-template #cargando>obteniendo versión...</ng-template>
</footer>
