.sidenav {
  width: 220px;
  background: #16181c;
  color: #FBC02D;
}

.menu-text {
  color: #FBC02D;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.main-toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.imatge-menu {
  height: 40px;
  margin-right: 8px;
}
