.buscador-container {
  width: 100%;
  margin-bottom: 24px;
}

mat-form-field {
  width: 100%;
  border-radius: 30px;
}

/* Arrodonir el contorn del mat-form-field (input) */
.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 30px;
}

/* Afegir marge intern a l'input per escriure */
::ng-deep input.mat-input-element {
  padding-left: 12px;
  border-radius: 30px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 30px;
  border-color: #FBC02D;
}

::ng-deep input.mat-input-element {
  background-color: #16181c;
  padding-left: 12px;
  border-radius: 30px;
  color: #E0E0E0;
}
