/* CONTENEDOR DEL BUSCADOR */
.buscador-container {
  width: 100%;
  margin-bottom: 24px;
}

/* BORDE EXTERNO REDONDEADO */
.buscador-wrapper {
  border-radius: 14px;
  border: 2px solid #fbc02d;
  background-color: #16181c;
  padding: 4px 10px; /* SEPARA EL CUADRO INTERNO DEL BORDE */
}

/* ---- OVERRIDE DE ANGULAR MATERIAL ---- */

/* Fuerza al cuadro a tener bordes redondeados estéticos */
.mat-mdc-text-field-wrapper {
  border-radius: 14px !important;
  background-color: #0F1115 !important;
}

/* Input interno */
input.mat-mdc-input-element {
  padding: 10px 14px !important;
  color: #E0E0E0 !important;
}

/* Icono de búsqueda */
.mat-mdc-form-field-icon-suffix .mat-icon {
  color: #fbc02d !important;
  font-size: 22px !important;
}

/* Botón de limpiar */
button.mat-icon-button {
  color: #fbc02d !important;
}

/* El label (placeholder) */
.mdc-floating-label {
  color: #e0e0e0 !important;
}
.mdc-floating-label--float-above {
  color: #fbc02d !important;
}