.buscador-container {
  width: 90%;
  margin: 0 auto 20px auto;
}

.buscador-wrapper {
  border: 2px solid #fbc02d;
  border-radius: 25px;
  padding: 6px 14px;
  background-color: #16181c;
  display: flex;
  align-items: center;
}

/* El mat-form-field NO ha de dibuixar cap quadre */
mat-form-field {
  flex: 1;
}

.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-outline-start,
.mat-form-field-outline-end {
  display: none !important;   /* ELIMINA EL QUADRE BLANC */
}

input.mat-input-element {
  color: #E0E0E0;
  padding: 6px;
  font-size: 15px;
}

mat-icon {
  color: #fbc02d;
  margin-left: 10px;
}
