.buscador-container {
  width: 100%;
  margin-bottom: 24px;
}

mat-form-field.mat-form-field-appearance-outline {
  border-radius: 30px;
  overflow: hidden;
}

mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline-start,
mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline-end,
mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border-radius: 30px;
}

mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 30px !important;
}

::ng-deep input.mat-input-element {
  padding-left: 12px !important;
  border-radius: 30px !important;
  background-color: transparent !important;
  color: #E0E0E0 !important;
}

mat-icon, button.mat-icon-button {
  border-radius: 50% !important;
}
