.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
  padding-top: 16px;
}

a.mat-list-item {
  color: #2e7d32;
  font-weight: 500;
}

a.mat-list-item:hover {
  background-color: #e8f5e9;
}
