<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item>{{ 'MENU.HOME' | translate }}</a>
      <a mat-list-item>{{ 'MENU.PROJECTS' | translate }}</a>
      <a mat-list-item>{{ 'MENU.PROCEDURES' | translate }}</a>
      <a mat-list-item>{{ 'MENU.DOCUMENTS' | translate }}</a>
      <a mat-list-item>{{ 'MENU.TRAINING' | translate }}</a>
      <a mat-list-item>{{ 'MENU.PLANNING' | translate }}</a>
      <a mat-list-item>{{ 'MENU.ADMIN' | translate }}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Aquí se mostrará el contenido del dashboard -->
  </mat-sidenav-content>
</mat-sidenav-container>