<div class="descargables-root">
  <h2>{{ 'DESCARGABLES.TITLE' | translate }}</h2>

  <app-buscador (buscar)="searchText = $event"></app-buscador>

  <div *ngIf="documentos && documentos.length; else noFiles">
    <div *ngFor="let doc of filteredDocuments" class="doc-row">
      <div class="doc-info">
        <div class="doc-title-row">
          <strong class="doc-name">{{ doc.name }}</strong>
          <span class="doc-size">{{ formatSize(doc.size) }}</span>
        </div>
        <div class="doc-desc">{{ doc.descriptionKey ? (doc.descriptionKey | translate) : doc.description }}</div>
        <div class="doc-modified">{{ 'DESCARGABLES.LAST_MODIFIED' | translate }}: <strong>{{ formatDate(doc.modified) }}</strong></div>
      </div>
      <div class="doc-actions">
        <button mat-stroked-button (click)="download(doc)" [disabled]="downloading[doc.path]">
          <mat-icon>download</mat-icon>
          <span *ngIf="!downloading[doc.path]">{{ 'DESCARGABLES.DOWNLOAD' | translate }}</span>
          <span *ngIf="downloading[doc.path]">{{ 'DESCARGABLES.DOWNLOADING' | translate }}</span>
        </button>
      </div>
    </div>
  </div>

  <ng-template #noFiles>
    <p *ngIf="!loading && !loadError">{{ 'DESCARGABLES.NO_FILES' | translate }}</p>
    <p *ngIf="!loading && !loadError && (documentos && documentos.length && filteredDocuments && filteredDocuments.length === 0)">{{ 'DESCARGABLES.NO_RESULTS' | translate }}</p>
    <p *ngIf="loading">{{ 'DESCARGABLES.LOADING' | translate }}</p>
    <p *ngIf="loadError">{{ 'DESCARGABLES.ERROR' | translate }}</p>
  </ng-template>
</div>
