body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    color: #E0E0E0;
    text-decoration: none;
}/*Links amb color personalitzat*/
*{
    box-sizing: border-box;
}
/*Per a que al padding  i borde*/