body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a{
    color: #E0E0E0;
    text-decoration: none;
}/*Links amb color personalitzat*/
*{
    box-sizing: border-box;
}
.mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}