html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;        
    font-family: Arial, sans-serif;
}

a{
    color: #E0E0E0;
    text-decoration: none;
}/*Links amb color personalitzat*/
*{
    box-sizing: border-box;
}
.mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

body, app-root {
  color: #E0E0E0 !important;
}

app-root * {
  color: #E0E0E0 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #FBC02D !important;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  color: #FBC02D !important;
}
mat-toolbar *,
mat-sidenav *,
mat-nav-list *,
.user-dropdown-container *,
.mat-list-item * {
  color: inherit !important;
}