.login-central {
  max-width: 700px;
  width: 100%;
  padding: 32px 20px 24px 20px;
  background: #16181c; /* Caixa una mica més fosca o més clara */
  color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 6px 24px #00000040; /* Ombra negra/fosca per ressaltar el borde */
  display: flex;
  flex-direction: column;
  align-items: center;
}
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
  border-radius: 18px;
}



.login-central h2 {
  color: #FBC02D;
  font-size: 1.28em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button[mat-raised-button] {
  background: #1e84a3 !important;
  color: #FBC02D !important;
  font-weight: bold;
  width: 100%;
  border-radius: 14px;
  font-size: 1.12em;
  margin-top: 8px;
  transition: background 0.18s;
}

button[mat-raised-button]:hover {
  background: #FBC02D !important;
  color: #16181c !important;
}

.error-msg {
  color: #E53935;
  font-weight: bold;
  margin-top: 13px;
  font-size: 1.02em;
  text-align: center;
}
