.login-central {
  max-width: 700px;
  width: 100%;
  padding: 32px 20px 24px 20px;
  background: #16181c;
  color: #ffffff;
  border-radius: 18px;

  /* BORDE GROC SIMPLE */
  border: 3px solid #FBC02D;

  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
  border-radius: 18px;
  overflow-y: hidden;
}
::ng-deep .mat-mdc-dialog-surface {
  background: #202124;
  border-radius: 22px;
  box-shadow: 0 8px 40px #2227;
  overflow-y: hidden;
}



.login-central h2 {
  color: #FBC02D;
  font-size: 1.28em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  overflow-y: hidden;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
  overflow-y: hidden;
}

button[mat-raised-button] {
  background: #1e84a3 !important;
  color: #FBC02D !important;
  font-weight: bold;
  width: 100%;
  border-radius: 14px;
  font-size: 1.12em;
  margin-top: 8px;
  transition: background 0.18s;
  overflow-y: hidden;
}

button[mat-raised-button]:hover {
  background: #FBC02D !important;
  color: #16181c !important;
  overflow-y: hidden;
}

.error-msg {
  color: #E53935;
  font-weight: bold;
  margin-top: 13px;
  font-size: 1.02em;
  text-align: center;
  overflow-y: hidden;
}